/* 黑暗模式样式变量, 该属性名对应 next-themes */
[data-theme='dark'] {
  --primary: #000000;
  --primary2: #111;
  --secondary: #ffffff;
  --secondary2: #f1f3f5;
  --text-base: white;
  --text-primary: white;
  --text-secondary: black;
  --hover: rgba(255, 255, 255, 0.075);
  --hover2: rgba(255, 255, 255, 0.15);
  --hover3: rgba(255, 255, 255, 0.25);
}
