// from theme
$primary: #ffffff;
$secondary: #333333;
$secondary2: #f7f8f9;
$text-primary: #2a2b32;
$text-secondary: #6d7783;
$text-secondary2: #707070;
$hover: #222eed;
$hover2: #002fa7;
$hover3: rgba(0, 0, 0, 0.25);

// other
$pick-title-bg: #fcc4b6;
$pick-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
